In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
healthtest = pd.read_csv("/Users/Yesh/Desktop/ML/Datasets BITS/healthtest.csv")

In [3]:
healthtrain = pd.read_csv("/Users/Yesh/Desktop/ML/Datasets BITS/healthtrain.csv")

In [4]:
healthtest.shape

(2947, 563)

In [5]:
healthtrain.shape

(7352, 563)

In [6]:
y_train = healthtrain.Activity
X_test = healthtest.drop("Activity", axis = 1)
X_train = healthtrain.drop("Activity", axis = 1)
y_test = healthtest.Activity

In [7]:
X_train.shape

(7352, 562)

In [8]:
X_test.shape

(2947, 562)

# LogisticRegression

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
LogReg = LogisticRegression(multi_class='multinomial',solver = 'lbfgs')

In [12]:
LogRegModel = LogReg.fit(X_train,y_train)

In [13]:
LogRegModel.score(X_train,y_train)

0.9884385201305768

In [14]:
LogRegpredict = LogRegModel.predict(X_test)

In [15]:
pd.crosstab(y_test,LogRegpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,3,424,62,0,0,2
STANDING,0,17,515,0,0,0
WALKING,0,0,0,486,3,7
WALKING_DOWNSTAIRS,0,0,0,6,401,13
WALKING_UPSTAIRS,0,0,0,23,6,442

In [16]:
LogRegModel.score(X_test,y_test)

0.9518154054971157

In [17]:
(537+424+515+486+401+442)/y_test.shape[0] #Verified

0.9518154054971157

# Decision Tree Classifer

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
DecTree = DecisionTreeClassifier()

In [21]:
DecTreemodel = DecTree.fit(X_train,y_train)

In [22]:
DecTreemodel.score(X_train,y_train)

1.0

In [23]:
DecTreepredict = DecTreemodel.predict(X_test)

In [24]:
pd.crosstab(y_test,DecTreepredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,0,383,108,0,0,0
STANDING,0,84,448,0,0,0
WALKING,0,0,0,449,17,30
WALKING_DOWNSTAIRS,0,0,0,19,357,44
WALKING_UPSTAIRS,0,0,0,85,33,353

In [25]:
DecTreemodel.score(X_test,y_test)

0.8574821852731591

In [26]:
(537+383+448+449+357+353)/y_test.shape[0]

0.8574821852731591

# Random Forest Classifier

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [29]:
RF = RandomForestClassifier(n_estimators=30)

In [30]:
RFmodel = RF.fit(X_train,y_train)

In [31]:
RFpredict = RFmodel.predict(X_test)

In [34]:
pd.crosstab(y_test,RFpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,0,448,43,0,0,0
STANDING,0,47,485,0,0,0
WALKING,0,0,0,475,14,7
WALKING_DOWNSTAIRS,0,0,0,27,359,34
WALKING_UPSTAIRS,0,0,0,51,8,412

In [33]:
RFmodel.score(X_test,y_test)

0.9216152019002375

In [35]:
(537+448+485+475+359+412)/y_test.shape[0]

0.9216152019002375

# Gradient Boosting Classification

In [37]:
from sklearn.ensemble import GradientBoostingClassifier

In [38]:
GB = GradientBoostingClassifier(n_estimators=50)

In [39]:
GBmodel = GB.fit(X_train,y_train)

In [40]:
GBmodel.score(X_train,y_train)

0.9975516866158868

In [42]:
GBpredict = GBmodel.predict(X_test)

In [45]:
pd.crosstab(y_test,GBpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,0,408,80,0,0,3
STANDING,0,39,492,1,0,0
WALKING,0,0,0,485,4,7
WALKING_DOWNSTAIRS,0,0,0,11,377,32
WALKING_UPSTAIRS,0,1,0,25,7,438

In [46]:
(537+408+492+485+377+438)/y_test.shape[0] #Verified

0.9287410926365796

In [41]:
GBmodel.score(X_test,y_test)

0.9287410926365796

# Neural Network

In [48]:
from sklearn.neural_network import MLPClassifier #uses 100 neurons by default

In [49]:
NN = MLPClassifier(activation='relu',hidden_layer_sizes=(10,))

In [50]:
NNmodel = NN.fit(X_train,y_train)

In [51]:
NNmodel.score(X_train,y_train)

0.9869423286180631

In [52]:
NNpredict = NNmodel.predict(X_test)

In [53]:
pd.crosstab(y_test,NNpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,519,0,18,0,0,0
SITTING,0,420,69,0,0,2
STANDING,0,17,515,0,0,0
WALKING,0,0,0,487,7,2
WALKING_DOWNSTAIRS,0,0,0,3,387,30
WALKING_UPSTAIRS,0,0,1,27,2,441

In [54]:
NNmodel.score(X_test,y_test)

0.9395995928062436

In [55]:
(519+420+515+487+387+441)/y_test.shape[0]

0.9395995928062436

# KNClassifier

In [57]:
from sklearn.neighbors import KNeighborsClassifier

In [58]:
KNN = KNeighborsClassifier()

In [59]:
KNNmodel = KNN.fit(X_train,y_train)

In [60]:
KNNmodel.score(X_train,y_train)

0.9889825897714908

In [61]:
KNNpredict = KNNmodel.predict(X_test)

In [62]:
pd.crosstab(y_test,KNNpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,511,19,7,0,0,0
SITTING,0,332,157,0,0,2
STANDING,0,66,465,1,0,0
WALKING,0,0,0,423,43,30
WALKING_DOWNSTAIRS,0,0,0,78,313,29
WALKING_UPSTAIRS,0,0,0,101,28,342

In [63]:
(511+332+465+423+313+342)/y_test.shape[0]

0.8096369189005769

In [64]:
KNNmodel.score(X_test,y_test)

0.8096369189005769

# SUPPORT VECTOR CLASSIFIER

In [66]:
from sklearn.svm import SVC

In [67]:
SupportVec = SVC(kernel = 'linear')

In [68]:
SupVecmodel = SupportVec.fit(X_train,y_train)

In [69]:
SupVecmodel.score(X_train,y_train)

0.9940152339499456

In [70]:
SupVecPredict = SupVecmodel.predict(X_test)

In [71]:
pd.crosstab(y_test,SupVecPredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,0,435,55,0,0,1
STANDING,0,16,516,0,0,0
WALKING,0,0,0,494,1,1
WALKING_DOWNSTAIRS,0,0,0,4,410,6
WALKING_UPSTAIRS,0,0,0,22,2,447

In [72]:
SupVecmodel.score(X_test,y_test)

0.9633525619273838

In [73]:
(537+435+516+494+410+447)/y_test.shape[0]

0.9633525619273838