In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
attrition = pd.read_csv("C:/Users/Anusha/Desktop/ML/Major Project/Dataset for Classification.csv")

In [4]:
attrition.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,3,4,1,6,3,3,2,2,2,2

In [5]:
attrition.tail()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,3,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,3,1,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,4,2,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,3,4,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,3,1,0,6,3,4,4,3,1,2

In [8]:
attrition.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,3.153741,2.712245,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,0.360824,1.081209,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,3.000000,2.000000,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,3.000000,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,3.000000,4.000000,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,4.000000,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [6]:
attrition.shape

(1470, 33)

In [7]:
attrition.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [9]:
from scipy import stats as st

In [12]:
#a
st.chi2_contingency(pd.crosstab(attrition.Gender, attrition.Attrition))

(1.1169671241970975, 0.29057244902890855, 1, array([[493.2,  94.8],
        [739.8, 142.2]]))

In [14]:
#b
st.chi2_contingency(pd.crosstab(attrition.EducationField, attrition.Attrition))

(16.024674119585427,
 0.006773980139025212,
 5,
 array([[ 22.64693878,   4.35306122],
        [508.29795918,  97.70204082],
        [133.36530612,  25.63469388],
        [389.19183673,  74.80816327],
        [ 68.77959184,  13.22040816],
        [110.71836735,  21.28163265]]))

In [17]:
male = attrition[attrition.Gender == 'Male'] #subsetting the data
female = attrition[attrition.Gender == 'Female']

In [21]:
#c
st.ttest_ind(male.MonthlyIncome, female.MonthlyIncome)

Ttest_indResult(statistic=-1.2212617308870655, pvalue=0.22218303455087898)

In [23]:
pd.value_counts(attrition.MaritalStatus)

Married     673
Single      470
Divorced    327
Name: MaritalStatus, dtype: int64

In [24]:
married = attrition[attrition.MaritalStatus == 'Married'] #subsetting the data
single = attrition[attrition.MaritalStatus == 'Single']
divorced = attrition[attrition.MaritalStatus == 'Divorced']

In [28]:
#d
st.f_oneway(married.MonthlyIncome, single.MonthlyIncome, divorced.MonthlyIncome)

F_onewayResult(statistic=5.904753323759054, pvalue=0.002791675956684596)

In [32]:
yes = attrition[attrition.Attrition== 'Yes'] #subsetting the data
no = attrition[attrition.Attrition == 'No']

In [33]:
#e
st.ttest_ind(yes.DistanceFromHome, no.DistanceFromHome)

Ttest_indResult(statistic=2.994708098265125, pvalue=0.0027930600802134266)

In [34]:
#f
st.ttest_ind(male.YearsInCurrentRole, female.YearsInCurrentRole)

Ttest_indResult(statistic=-1.5907588008772968, pvalue=0.11187917635884875)

In [36]:
#g
st.f_oneway(married.YearsInCurrentRole, single.YearsInCurrentRole, divorced.YearsInCurrentRole)

F_onewayResult(statistic=5.677257510552126, pvalue=0.003498575600322668)

In [37]:
(attrition.isnull().sum().sort_values(ascending = False))

YearsWithCurrManager        0
JobRole                     0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobSatisfaction             0
YearsSinceLastPromotion     0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
Age                         0
dtype: int64

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
le=LabelEncoder()

In [42]:
numericcols=attrition.select_dtypes(include=['int64'])
objectcols=attrition.select_dtypes(include=['object'])

In [43]:
objectcols1=objectcols.apply(le.fit_transform)

In [44]:
attritiondf=pd.concat([numericcols,objectcols1],axis=1)

In [46]:
y=attritiondf.Attrition
X=attritiondf.drop('Attrition',axis=1)

In [47]:
# lOGISTIC REGRESSION
from sklearn.linear_model import LogisticRegression

In [48]:
LogReg=LogisticRegression()

In [49]:
LogRegmodel=LogReg.fit(X,y)

In [50]:
LogRegmodel.score(X,y)

0.8727891156462585

In [51]:
LogRegpredict=LogRegmodel.predict(X)

In [54]:
pd.crosstab(attritiondf.Attrition,LogRegpredict)

col_0         0   1
Attrition
0          1215  18
1           169  68

In [55]:
# DECISION TREE CLASSIFIER
from sklearn.tree import DecisionTreeClassifier

In [56]:
DecTree=DecisionTreeClassifier()

In [57]:
DecTreemodel=DecTree.fit(X,y)

In [58]:
DecTreemodel.score(X,y)

1.0

In [59]:
DecTreepredict=DecTreemodel.predict(X)

In [60]:
pd.crosstab(attritiondf.Attrition,DecTreepredict)

col_0         0    1
Attrition
0          1233    0
1             0  237

In [61]:
# RANDOM FOREST CLASSIFIER
from sklearn.ensemble import RandomForestClassifier

In [62]:
RF=RandomForestClassifier(n_estimators=100)

In [63]:
RFmodel=RF.fit(X,y)

In [64]:
RFmodel.score(X,y)

1.0

In [65]:
RFpredict=RFmodel.predict(X)

In [66]:
pd.crosstab(attritiondf.Attrition,RFpredict)

col_0         0    1
Attrition
0          1233    0
1             0  237

In [79]:
# GRADIENT BOOSTING CLASSIFIER
from sklearn.ensemble import GradientBoostingClassifier

In [85]:
GB = GradientBoostingClassifier(n_estimators = 1000)

In [86]:
GBmodel = GB.fit(X, y)

In [87]:
GBmodel.score(X, y)

1.0

In [88]:
GBpredict=GBmodel.predict(X)

In [89]:
pd.crosstab(attritiondf.Attrition,GBpredict)

col_0         0    1
Attrition
0          1233    0
1             0  237

In [67]:
# NEURAL NETWORK
from sklearn.neural_network import MLPClassifier

In [95]:
NN=MLPClassifier(activation='relu',hidden_layer_sizes=(1000,4000))

In [96]:
NNmodel=NN.fit(X,y)

In [97]:
NNmodel.score(X,y)

0.8387755102040816

In [98]:
NNpredict=NNmodel.predict(X)

In [99]:
pd.crosstab(attritiondf.Attrition,NNpredict)

col_0         0
Attrition
0          1233
1           237

In [100]:
from sklearn.neighbors import KNeighborsClassifier

In [101]:
KNN = KNeighborsClassifier()

In [102]:
KNNmodel = KNN.fit(X, y)

In [103]:
KNNmodel.score(X, y)

0.854421768707483

In [104]:
KNNpredict=KNNmodel.predict(X)

In [105]:
pd.crosstab(attritiondf.Attrition,KNNpredict)

col_0         0   1
Attrition
0          1213  20
1           194  43

In [106]:
# SUPPORT VECTOR MACHINES
from sklearn.svm import SVC

In [107]:
SupportVec = SVC(kernel = 'linear')

In [ ]:
SupVecmodel = SupportVec.fit(X, y)

In [ ]:
SupVecmodel.score(X, y)

In [ ]:
SupVecPredict = SupVecmodel.predict(X)

In [ ]:
pd.crosstab(attritiondf.Attrition,SupVecPredict)