In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
churndata=pd.read_csv("/Users/Rajesh Prabhakar/Desktop/Datasets BITS/Telecom Churn Data SingTel.csv")

In [3]:
# CHECK SHAPE, DTYPES & DESCRIBE

In [4]:
churndata.shape

(5000, 21)

In [5]:
churndata.dtypes

State                              object
Account Length                      int64
Area Code                           int64
Phone Number                       object
International Plan                 object
Voice mail Plan                    object
Num of Voice mail Messages          int64
Total Day Minutes                 float64
Total Day Calls                     int64
Total day Charge                  float64
Total Eve Minutes                 float64
Total Eve Calls                     int64
Total Eve Charge                  float64
Total Night Minutes               float64
Total Night Calls                   int64
Total Night Charge                float64
Total International Minutes       float64
Total Intl  Calls                   int64
Total Intl Charge                 float64
Number Customer Service calls       int64
Churn                              object
dtype: object

In [6]:
pd.value_counts(churndata.Churn)

 False.    4293
 True.      707
Name: Churn, dtype: int64

In [7]:
# How many customers who subscribed to international plan left the company?
# TEST THE NULL HYPOTHESIS THERE IS NO RELATIONSHIP BETWEEN CUSTOMER CHURN 
# & INTERNATIONAL PLAN SUBSCRIPTION

In [8]:
from scipy import stats as st

In [9]:
st.chi2_contingency(pd.crosstab(churndata.Churn,churndata['International Plan']))

(333.18644906940563,
 1.9443947474998577e-74,
 1,
 array([[ 3886.8822,   406.1178],
        [  640.1178,    66.8822]]))

In [10]:
objectcols=churndata.select_dtypes(include=['object'])

In [11]:
objectcols1=objectcols.drop('Phone Number',axis=1)

In [12]:
for col in objectcols1:
    objfreq=pd.value_counts(objectcols1[col])
    print(objfreq)

WV    158
MN    125
AL    124
ID    119
VA    118
OH    116
TX    116
WY    115
NY    114
OR    114
NJ    112
UT    112
WI    106
ME    103
MA    103
MI    103
MD    102
VT    101
KS     99
CT     99
MS     99
KY     99
MT     99
RI     99
IN     98
WA     98
CO     96
NH     95
DE     94
MO     93
AR     92
NM     91
NC     91
SC     91
FL     90
OK     90
NV     90
AZ     89
TN     89
ND     88
IL     88
DC     88
NE     88
HI     86
SD     85
GA     83
LA     82
PA     77
AK     72
IA     69
CA     52
Name: State, dtype: int64
 no     4527
 yes     473
Name: International Plan, dtype: int64
 no     3677
 yes    1323
Name: Voice mail Plan, dtype: int64
 False.    4293
 True.      707
Name: Churn, dtype: int64

In [13]:
objectcols2=objectcols1.drop('State',axis=1)

In [14]:
numericcols=churndata.select_dtypes(include=[np.number])

In [15]:
numericcols1=numericcols.drop('Area Code',axis=1)

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le=LabelEncoder()

In [18]:
objectcols3=objectcols2.apply(le.fit_transform)

In [19]:
churndatadf=pd.concat([numericcols1,objectcols3],axis=1)

In [20]:
churndatadf.head()

,Account Length,Num of Voice mail Messages,Total Day Minutes,Total Day Calls,Total day Charge,Total Eve Minutes,Total Eve Calls,Total Eve Charge,Total Night Minutes,Total Night Calls,Total Night Charge,Total International Minutes,Total Intl Calls,Total Intl Charge,Number Customer Service calls,International Plan,Voice mail Plan,Churn
0,128,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0,1,0
1,107,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0,1,0
2,137,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0,0,0
3,84,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,1,0,0
4,75,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,1,0,0

In [21]:
y=churndatadf.Churn
X=churndatadf.drop('Churn',axis=1)

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
LogReg=LogisticRegression()

In [24]:
LogRegmodel=LogReg.fit(X,y)

In [25]:
LogRegmodel.score(X,y) # Accuracy calculated using Confusion matrix

0.86499999999999999

In [26]:
LogRegpredict=LogRegmodel.predict(X)

In [27]:
pd.crosstab(churndatadf.Churn,LogRegpredict)

col_0     0    1
Churn
0      4200   93
1       582  125

In [28]:
(4200+125)/(4200+93+582+125)

0.865

In [32]:
from sklearn.tree import DecisionTreeClassifier

In [33]:
DecTree=DecisionTreeClassifier()

In [34]:
DecTreemodel=DecTree.fit(X,y)

In [36]:
DecTreemodel.score(X,y)

1.0

In [37]:
DecTreepredict=DecTreemodel.predict(X)

In [38]:
pd.crosstab(churndatadf.Churn,DecTreepredict)

col_0     0    1
Churn
0      4293    0
1         0  707

In [39]:
from sklearn.ensemble import RandomForestClassifier

In [40]:
RF=RandomForestClassifier(n_estimators=1000)

In [41]:
RFmodel=RF.fit(X,y)

In [42]:
RFmodel.score(X,y)

1.0

In [43]:
RFpredict=RFmodel.predict(X)

In [44]:
pd.crosstab(churndatadf.Churn,RFpredict)

col_0     0    1
Churn
0      4293    0
1         0  707

In [45]:
from sklearn.neural_network import MLPClassifier

In [71]:
NN=MLPClassifier(activation='relu',hidden_layer_sizes=(200,100,))

# activation function RELU= (0,MAX) # Hidden 2 Layers 0f 200 & 100 Neurons

In [72]:
NNmodel=NN.fit(X,y)

In [73]:
NNmodel.score(X,y)

0.86839999999999995

In [74]:
NNpredict=NNmodel.predict(X)

In [75]:
pd.crosstab(churndatadf.Churn,NNpredict)

col_0     0   1
Churn
0      4287   6
1       652  55